<h1>Hello from Rails!</h1>
<p> Agora são: <%= @time %> </p>
<br>
<h3>Testing other things</h3>
<% @files.each do |file| %>
  <ul>File name is: <%= file %></ul>
<% end %>
<p> <%= 1+3 %> </p>
<p> <%= "cow" + "boy" %> </p>
<p> Daqui uma hora serão: <%= 1.hour.from_now.localtime %> </p>
<p> Stime to say <%= link_to "Goodbye", say_goodbye_path %></p>
